name: Build & Push Docker Image on Tag

on:
  push:
    tags:
      - "*"      # triggers on ANY tag push

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Extract tag name (version)
        run: echo "TAG=${GITHUB_REF_NAME}" >> $GITHUB_ENV

      - name: Docker login
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Install Trivy
        uses: aquasecurity/trivy-action@master
        with:
          version: latest

      - name: Trivy Scan - Filesystem
        run: |
          echo "Running Trivy filesystem scan..."
          trivy fs --exit-code 0 --no-progress --severity UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL .

      - name: Trivy Scan - Docker Image
        run: |
          echo "Running Trivy image scan..."
          trivy image --exit-code 0 --no-progress --severity UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL docker.io/${{ secrets.DOCKERHUB_USERNAME }}/test:${{ env.TAG }}

        

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build & Push Image with Tag
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: docker.io/${{ secrets.DOCKERHUB_USERNAME }}/test:${{ env.TAG }}
